body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section-five {
    margin-top: auto;
}

.section-one, .section-five {
    background-color: #1F2937;
}

.section-one, 
.section-two, 
.section-three, 
.section-four, 
.section-five {
    padding: 0 100px;
}

.header {
padding: 10px 0
}

.header img {
    width: 80px;
    border-radius: 40px;
}

.hero img {
    max-width: 400px;
    margin-right: 100px;
}

.hero {
    display: flex;
    padding-bottom: 100px;

}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}


p, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.hero1 {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-right: 50px;
}

.header-logo {
    font-size: 24px;
    margin-right: auto;
    color: #F9FAF8;
}


.item img {
    height: 150px;
    border-radius: 15px;
    border: solid #3882F6;
}

ul {
    list-style-type: none;
}

.header {
    align-items: center;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    padding

}

.header ul {
    display: flex;
    gap: 8px;
}

button {
    width: 75px;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 2px;
}

.CTA, button {
    background-color: #3882F6;
}

.section-two h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.section-two .container {
    margin-bottom: 50px;
}

.section-three {
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    justify-content: center;
    gap: 16px;
}


.hero1 p {
   margin-right: 15px;
}

.item .text {
   width: 200px;
}

.quote {
    padding: 100px 300px;
}

.source {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    margin-top: 10px;
}

.section-four {
    display: flex;
    padding: 50px 40px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;

}

.container-cta {
    background-color: #3882F6;
    display: flex;
    padding: 10px 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container-cta button {
    height: 25px;
    color: #F9FAF8;
    border: solid #F9FAF8;
    margin-left: 50px;
    flex-shrink: 0;
}

.section-five {
    color:#F9FAF8;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cta1 {
    font-size: 24px;
    font-weight: 800;
}

.cta1, .cta2 {
    color: #F9FAF8;
}